In [1]:
# %pip install -r requirements.txt

In [1]:
import datetime as dt
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
import time
import yfinance as yf

In [10]:
df_BSE30=pd.read_csv("BSE30Stocks_Feb2025.csv")
df_BSE30.head()

,Security Code,Security Name,Security Group,Open,High,Low,LTP,No. of Shares Traded,Total Turnover (my image Lac),No. of Trades
0,500325,RELIANCE,A,1263.80,1266.00,1245.85,1249.60,444087,5553.0,13653
1,500112,SBIN,A,740.55,744.05,733.60,737.25,530383,3912.0,21018
2,500209,INFY,A,1908.50,1908.50,1881.15,1884.40,179494,3384.0,4903
3,500520,M&M,A,3200.05,3276.30,3145.70,3156.05,101693,3259.0,8845
4,500570,TATAMOTORS,A,711.65,711.65,694.40,696.00,396171,2770.0,11781

In [11]:
df_BSE30.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Security Code                  30 non-null     int64
 1   Security Name                  30 non-null     object
 2   Security Group                 30 non-null     object
 3   Open                           30 non-null     float64
 4   High                           30 non-null     float64
 5   Low                            30 non-null     float64
 6   LTP                            30 non-null     float64
 7   No. of Shares Traded           30 non-null     int64
 8   Total Turnover (my image Lac)  30 non-null     float64
 9   No. of Trades                  30 non-null     int64
dtypes: float64(5), int64(3), object(2)
memory usage: 2.5+ KB

In [12]:
BSE30Symbols=list(df_BSE30["Security Name"])

In [13]:
print(BSE30Symbols)

['RELIANCE', 'SBIN', 'INFY', 'M&M', 'TATAMOTORS', 'ICICIBANK', 'HDFCBANK', 'KOTAKBANK', 'TCS', 'ZOMATO', 'BHARTIARTL', 'ITC', 'ASIANPAINT', 'BAJFINANCE', 'LT', 'NESTLEIND', 'TATASTEEL', 'MARUTI', 'ADANIPORTS', 'INDUSINDBK', 'POWERGRID', 'BAJAJFINSV', 'HINDUNILVR', 'HCLTECH', 'NTPC', 'AXISBANK', 'TITAN', 'SUNPHARMA', 'ULTRACEMCO', 'TECHM']

In [14]:
#converting every stock name as .NSE to get yahoo finance info
for i in range(len(BSE30Symbols)):
    BSE30Symbols[i]+='.BO'
print(BSE30Symbols)

['RELIANCE.BO', 'SBIN.BO', 'INFY.BO', 'M&M.BO', 'TATAMOTORS.BO', 'ICICIBANK.BO', 'HDFCBANK.BO', 'KOTAKBANK.BO', 'TCS.BO', 'ZOMATO.BO', 'BHARTIARTL.BO', 'ITC.BO', 'ASIANPAINT.BO', 'BAJFINANCE.BO', 'LT.BO', 'NESTLEIND.BO', 'TATASTEEL.BO', 'MARUTI.BO', 'ADANIPORTS.BO', 'INDUSINDBK.BO', 'POWERGRID.BO', 'BAJAJFINSV.BO', 'HINDUNILVR.BO', 'HCLTECH.BO', 'NTPC.BO', 'AXISBANK.BO', 'TITAN.BO', 'SUNPHARMA.BO', 'ULTRACEMCO.BO', 'TECHM.BO']

In [15]:
#checking the stock details
def get_info(ticker):
    stock=yf.Ticker(ticker)
    print(stock.info)

In [16]:
# for i in nifty50Symbols:
#     print(get_info(i))

In [17]:
def save_csv(stock_name):
    stock=yf.Ticker(stock_name)
    df=stock.history(period="20y")["Close"]
    file=stock_name.replace(".","_")+".csv"
    df.to_csv(file)

In [18]:
for stock in BSE30Symbols:
    save_csv(stock)